<section class="container">
  <h2>Log in</h2>
  <section class="grid-row">
    <div class="form-container col col-xsmall-12 col-medium-8">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-section">
          <%= f.label(:email, "Email Address") %>
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email' %>
        </div>
        <div class="form-section">
          <%= f.label(:password, "Password") %>
          <%= f.password_field  :password, autocomplete: "off", class: 'form-control', placeholder: 'password' %>
        </div>
        <fieldset>
          <legend class="visually-hidden">Remember my password on future log-ins?</legend>
          <div class="flex-container fieldset-options">
            <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "Remember Me?" %>
            <% end -%>
          </div>
        </fieldset>
        <div class="form-section">
          <%= f.submit "Log in", class: 'button login-button' %>
        </div>

      <% end %>
    </div>
  </section>

  <div class="links-container">
    <%= render "devise/shared/links" %>
  </div>


</section>



